/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    /* Primary color */
    --primary-color-main: #8B0FFF;
    --primary-color-light: #481D73;
    --primary-color-dark: #481D73;

    /* Secondary color */
    --secondary-color-main: #11C5D9;
    --secondary-color-light: #29F2F2;
    --secondary-color-dark: #1790BF;

    /* Background */
    --background-main: #999999;
    --background-light: #ffffff;
    --background-dark: #000000;
    /*--background-gradient-start: #8B0FFF;
    --background-gradient-middle: #481D73;
    --background-gradient-end: #281040;*/

    /* Border */
    --border-color-main: #720DD1;
    --border-color-secondary: #11C5D9;
    --border-radius: 24px;

    /* Text */
    --text-color-light: #ffffff;
    --text-color-dark: #000000;

    /* Shadow */
    --box-shadow: 4px 4px 20px 0px rgba(7, 2, 0, 0.15);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#8B0FFF 0%, #481D73 33.33%, #381659 66.67%, #281040 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--border-color-main);
    box-shadow: var(--box-shadow);
    background-size: 100% 100%;
    position: relative;
    box-sizing: border-box;
}

.content__text {
    margin: 16px 0;
}

.content__input {
    width: 80%;
    height: 5rem;
    border-radius: 1rem;
    /*search for primary, secondary, text, background and divider colors*/
    background-color: var(--background-main);
    border: none;
    color: var(--secondary-color-main);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__text__header {
    color: var(--secondary-color-main);
}

.content__text__paragraph {
    color: var(--secondary-color-light);
}

.content__actions {
    width: 100%;
    /*change to grid*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.content__button {
    border: var(--secondary-color-dark) solid 1px;
    background-color: var(--secondary-color-main);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    color: var(--text-color-dark);
    padding: 3px;
    font-size: 1.2rem;
}

#verify-prime{

}

#verify-prime{

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

